a {
  text-decoration: none;
  color: black;
}

.fontRubikMonoOne {
  font-family: "Rubik Mono One", monospace;
}

@keyframes slideInAndGrow {
  from {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.card {
  position: absolute;
  width: 40vw;
  padding: 20px;
  border-radius: 50px;
  background-color: transparent;
  transition: transform 0.3s ease; /* Cambiado para afectar solo la transformación */
  animation: slideInAndGrow 3s ease-out forwards;
  margin-bottom: 5rem;
}

.card:hover {
  transform: translateY(-10px) scale(1.2);
}

/* Animación de entrada */
@keyframes slideInAndGrow {
  from {
    transform: translateX(-100%) scale(0.8); /* Inicialmente fuera de la vista y un poco más pequeño */
    opacity: 0; /* Inicialmente transparente */
  }
  to {
    transform: translateX(0) scale(1); /* Deslizar hacia el área visible y tamaño original */
    opacity: 1; /* Hacer visible */
  }
}

.card1 {
  top: 180%;
  left: 15%;
  background-color: "none";
}

.card2 {
  top: 50%;
  left: 60%;
  background-color: "none";
}
.card3 {
  top: 90%;
  left: 5%;
  background-color: "none";
}

.grupoCards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0rem;
}

.typography-animation {
  -webkit-background-clip: text; /* Aplicar el gradiente de fondo al texto */
  background-clip: text;
  color: transparent; /* Hacer el color del texto transparente */
  text-decoration: none;

  color: #a7ffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: gainsboro;
}
h1 {
  color: gainsboro;
}
.typography-animation h2 {
  size: 0.5rem;
}

.profile-card1,
.profile-card2 {
  border-radius: 25px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: transparent;
  animation: floating 5s ease-in-out infinite alternate; /* Animación de flotación */
  margin-bottom: 5rem;
  margin: 5rem;
}
.profile-card1 {
  margin-top: 25rem;
}

@keyframes floating {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-10px) scale(1.1); /* Aumenta el tamaño */
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

.profile-card1:hover,
.profile-card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.6);
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 120%; /* Ajusta el tamaño de la imagen al 120% del contenedor */
}

.profile-card1:hover {
  background-size: 180%;
  box-shadow: 0 4px 8px #fff;
}
.profile-card1 h1:hover,
.profile-card2 h1:hover,
.profile-card1 h2:hover,
.profile-card2 h2:hover {
  color: black;
}

.profile-card2:hover {
  background-size: 180%;
  box-shadow: 0 4px 8px #fff;
  color: gainsboro;
}

.profile-card1 img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra marcada */
}

.profile-card1 h1 {
  margin: 10px 0 5px;
  font-size: 2rem;
  text-align: center;
}

.profile-card1 h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #777;
  text-align: center;
}

.profile-card2 img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Sombra marcada */
}

.profile-card2 h1 {
  margin: 10px 0 5px;
  font-size: 2rem;
  text-align: center;
}

.profile-card2 h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #777;
  text-align: center;
}

.css-hyum1k-MuiToolbar-root {
  margin: 0;
  padding: 0;
}

#asd123 {
  font-size: 1vw;
  position: relative; /* Establecer posición relativa para el subrayado */
  /* Color inicial del texto */
  transition: color 0.3s; /* Transición suave para el cambio de color del texto */
}

#asd123::before {
  content: ""; /* Agregar un elemento pseudo ::before para crear el subrayado */
  position: absolute; /* Establecer posición absoluta para el subrayado */
  bottom: 0; /* Colocar el subrayado al fondo del elemento */
  left: 0; /* Iniciar desde la izquierda */
  width: 0; /* Inicialmente sin ancho */
  height: 2px; /* Grosor del subrayado */
  background-color: #c0dbdb; /* Color del subrayado */
  transition: width 0.3s; /* Transición suave para el ancho del subrayado */
}

#asd123:hover::before {
  width: 100%; /* Aumentar el ancho del subrayado al 100% */
}
#asd1232 {
  font-size: 5vw;
  position: relative; /* Establecer posición relativa para el subrayado */
  /* Color inicial del texto */
  transition: color 0.3s; /* Transición suave para el cambio de color del texto */
}

#asd1232::before {
  content: ""; /* Agregar un elemento pseudo ::before para crear el subrayado */
  position: absolute; /* Establecer posición absoluta para el subrayado */
  bottom: 0; /* Colocar el subrayado al fondo del elemento */
  left: 0; /* Iniciar desde la izquierda */
  width: 0; /* Inicialmente sin ancho */
  height: 2px; /* Grosor del subrayado */
  background-color: #c0dbdb; /* Color del subrayado */
  transition: width 0.3s; /* Transición suave para el ancho del subrayado */
}

#asd1232:hover::before {
  width: 100%; /* Aumentar el ancho del subrayado al 100% */
}

.container {
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-color: #06090a;
  background-image: linear-gradient(
    0deg,
    #06090a 0%,
    #aa6f6f 50%,
    #080707 100%
  );

  clip-path: polygon(-20% 15%, 100% 0, 120% 80%, 0% 100%);
  position: relative; /* Añadir posición relativa al contenedor */
}
.pre-container {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-size: cover;
  background-color: #212020;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/amomiambo.appspot.com/o/SOFTWARE%20FACTORY.gif?alt=media&token=653bb103-58d5-4538-9caa-26093d16e157);
  position: relative;
}
.pre-container3 {
  height: 200vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-size: cover;
  background-color: #212020;
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  /* Añadir posición relativa al contenedor */
  z-index: 0;
}
.pre-container4 {
  height: 250vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  background-size: cover;
  background-color: #212020;
  background-image: linear-gradient(615deg, #212020 32%, #30638a 100%);

  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 90%);
  position: relative;
  /* Añadir posición relativa al contenedor */
  z-index: 0;
}
.MuiBox-root .css-13q4n6n {
  bottom: 500px;
  height: auto;
}
.pre2-container {
  height: 60vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-size: contain;
  background-color: #212020;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/amomiambo.appspot.com/o/SOFTWARE%20FACTORY%20(1).gif?alt=media&token=c901dc76-4ad4-4b84-8f1f-c7d7f67f4572");

  position: relative;
  top: 500px; /* Añadir posición relativa al contenedor */
}
.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.cards-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-color: transparent;

  position: relative; /* Añadir posición relativa al contenedor */
}

.cardJobs {
  width: 200px;
  display: flex;

  border-radius: 10px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: transparent; /* Fondo blanco para la card */
  transition: transform 0.6s, width 0.5s; /* Añade un efecto de transición */
  position: relative; /* Añadir posición relativa para referencia */
  top: 100px;
  right: 50px;
}

.cardJobs2 {
  width: 600px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Fondo blanco para la card */
  transition: transform 0.6s, width 0.5s; /* Añade un efecto de transición */
  position: relative; /* Posición relativa para superponer */
  top: -50px;
}

.cardJobs:hover {
  cursor: pointer;
  z-index: 1000; /* Un valor alto para asegurar que esté por encima de otros divs */
  transform: scale(1.4); /* Efecto de aumento en todas las direcciones */
}

.cardJobs2:hover {
  cursor: pointer;
  z-index: 1000; /* También un valor alto para esta carta */
  transform: scale(1.4); /* Efecto de aumento en todas las direcciones */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* Overlay semi-transparente */
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-description {
  padding: 15px;
  font-size: 16px;
}
.componentPesos {
  font-size: 2vh;
  color: #a7ffff; /* Ajusta el ángulo según sea necesario */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.highlight-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  width: 10rem;
  height: 10rem;
}
.highlight-circle span {
  font-size: 10vw;
  color: #a7ffff;
}

#componentPeso {
  font-size: 10vw;
  color: #a7ffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.componentPesos h2 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #a7ffff;
}

#componentPeso3 {
  transform: rotate(0deg);
  font-size: 10vw;
  color: #a7ffff; /* Ajusta el ángulo según sea necesario */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fontRubikMonoOne2 {
  text-align: center;
  font-size: 10vh;
  font-family: "Rubik Mono One", monospace;
  background: white;
  -webkit-background-clip: text; /* Aplicar el gradiente de fondo al texto */
  background-clip: text;
  color: transparent;
  margin-bottom: 5rem;
  width: 80%;
  margin-top: 12rem;
}

.container2 {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.benefit {
  max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
}

.icon2 img {
  width: 20vw; /* Ajusta el tamaño inicial del icono según sea necesario */
  position: absolute;
  animation: suspend 3s infinite alternate ease-in-out; /* Animación constante */
  top: 5vh;
  right: 5vw;
}

.grupoCardsPadre {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.titulosTrabajos {
  margin-top: 450px;
  font-size: 2rem;
  margin-bottom: 0rem;
}
.checklist {
  font-size: 0.7em;
  margin-top: 35vh; /* Reduce la fuente un 30% */
}
.checklist2 {
  font-size: 0.9rem;
  font-weight: 100;
  margin: 0.5rem;
}

@keyframes suspend {
  0% {
    transform: scale(1); /* Tamaño normal */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  100% {
    transform: scale(1.1); /* Tamaño aumentado */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra ligeramente más oscura */
  }
}
@keyframes suspend2 {
  0% {
    transform: scale(1); /* Tamaño normal */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  100% {
    transform: scale(1.1); /* Tamaño aumentado */
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Sombra ligeramente más oscura */
  }
}

/* Ajustes específicos para el segundo icono */
.icon img {
  position: absolute;
  animation: suspend2 1s infinite alternate ease-in-out; /* Animación constante */

  width: 10vw; /* Ajusta el tamaño inicial del segundo icono según sea necesario */
  top: 60vh;
  left: 4vw;
  z-index: 1; /* Asegura que esté por encima de otros elementos si es necesario */
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.css-hyum1k-MuiToolbar-root {
  padding: 0 !important; /* !important para asegurarte de que el padding se sobrescriba */
  width: 100vw;
}
.css-1c6cu7h-MuiPaper-root-MuiAppBar-root {
  padding: 0 !important; /* !important para asegurarte de que el padding se sobrescriba */
  width: 100vw;
}
#lineasIcon img {
  position: absolute;
  animation: none;
  top: 850px;
  width: 40vw;
}

#webservice img {
  top: 150px;
}

.pre-container5 {
  height: 300vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;

  background-color: #212020;

  background-image: url(https://firebasestorage.googleapis.com/v0/b/amomiambo.appspot.com/o/3.gif?alt=media&token=f00cab37-80dd-4662-8fd1-fd55aaf09eb2);
  clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  top: -100px;
  /* Añadir posición relativa al contenedor */
  z-index: 0;
}

#center {
  margin-top: 30rem;
}

.css-1oqqzyl-MuiContainer-root {
  max-width: 100%;
}

.drawer {
  background-color: #212020;
  background-image: linear-gradient(315deg, #212020 32%, #30638a 100%);
}

/* Animación para que los íconos caigan de arriba hacia abajo */
@keyframes dropDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Animación para que los textos se desplacen de izquierda a derecha */
@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Aplica las animaciones a los elementos específicos */
.icon-animation {
  animation: dropDown 1s ease-out;
}

.text-animation {
  animation: slideInRight 1s ease-out;
}

@media only screen and (max-width: 768px) {
  #asd1232 h4 {
    text-align: left;
    right: 20px;
    width: 10%;
  }
  .webs {
    font-size: 1vw;
    position: relative; /* Establecer posición relativa para el subrayado */
    /* Color inicial del texto */
    transition: color 0.3s; /* Transición suave para el cambio de color del texto */
  }

  .webs::before {
    content: ""; /* Agregar un elemento pseudo ::before para crear el subrayado */
    position: absolute; /* Establecer posición absoluta para el subrayado */
    bottom: 0; /* Colocar el subrayado al fondo del elemento */
    left: 0; /* Iniciar desde la izquierda */
    width: 0; /* Inicialmente sin ancho */
    height: 2px; /* Grosor del subrayado */
    background-color: #c0dbdb; /* Color del subrayado */
    transition: width 0.3s; /* Transición suave para el ancho del subrayado */
    display: block; /* Asegurar que el pseudo-elemento se comporte como un bloque */
  }

  .webs:hover::before {
    width: 100%; /* Aumentar el ancho del subrayado al 100% */
  }

  .titulosTrabajos {
    margin-left: 1rem;
  }
  .checklist {
    margin-top: 10vh;
    margin: 1rem;
  }

  .icon img {
    display: none;
  }
  .profile-card1,
  .profile-card2 {
    margin: 0px;
    margin-bottom: 5rem;
  }
  .fontRubikMonoOne2 {
    text-align: center;
    font-size: 3vh;
  }
  .componentPesos {
    font-size: 1vh;
    color: #a7ffff; /* Ajusta el ángulo según sea necesario */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
  .cardJobs2 {
    display: none;
  }

  .cardJobs {
    right: 0px;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 0px;
    top: -60px;
    max-width: 340px;
    transform: none;
    transition: none;
    animation: none;
  }
  .cardJobs img {
    width: 350px;
  }

  .cardJobs:hover img {
    left: 500px;
    transform: none;
    transition: none;
    animation: none;
  }
  .cardJobs,
  .cardJobs:hover,
  .cardJobs img,
  .cardJobs:hover img {
    transition: none !important; /* Eliminar todas las transiciones */
    animation: none !important; /* Eliminar todas las animaciones */
    transform: none !important; /* Restablecer transformaciones */
  }
  .grupoCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0rem;
    width: "100%";
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    padding: 5px;
    border-radius: 50px;
    background-color: transparent; /* Cambiado para afectar solo la transformación */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
  }
  .card1 {
    top: 0;
    left: 0;
    transform: none;
    background-color: transparent;
  }

  .card2 {
    top: 0;
    left: 0;
    transform: none;
    background-color: transparent;
  }

  .card3 {
    top: 0;
    left: 0;
    transform: none;
    background-color: transparent;
  }

  .typography-animation {
    font-size: 50%;
  }

  .grupoCardsProfile {
    display: flex;
    flex-direction: column;
  }
  #asd123 {
    display: none;
  }
  .profile-card1,
  .profile-card2 {
    width: 250px;
    padding: 0rem;
  }
  .css-hyum1k-MuiToolbar-root {
    margin: 0;
    padding: 0;
    width: 100vw;
  }
  .css-1c6cu7h-MuiPaper-root-MuiAppBar-root {
    padding: 0 !important; /* !important para asegurarte de que el padding se sobrescriba */
    width: 100vw;
  }
  .pre-container3,
  .pre-container4 {
    height: 350vh;
  }
}