a {
  text-decoration: none;
  color: black;
}

.fontRubikMonoOne {
  font-family: "Rubik Mono One", monospace;
}

@keyframes slideInAndGrow {
  from {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.card {
  position: absolute;
  width: 500px;
  padding: 20px;
  border-radius: 50px;
  background-color: transparent;
  transition: transform 0.3s ease; /* Cambiado para afectar solo la transformación */
  margin-right: 20rem;
  animation: slideInAndGrow 3s ease-out forwards;
}

.card.animated {
}

.card:hover {
  transform: translateY(-10px) scale(1.2);
  z-index: 1;
}

/* Animación de entrada */
@keyframes slideInAndGrow {
  from {
    transform: translateX(-100%) scale(0.8); /* Inicialmente fuera de la vista y un poco más pequeño */
    opacity: 0; /* Inicialmente transparente */
  }
  to {
    transform: translateX(0) scale(1); /* Deslizar hacia el área visible y tamaño original */
    opacity: 1; /* Hacer visible */
  }
}

.card1 {
  top: 180%;
  left: 15%;
  background-color: "none";
}

.card2 {
  top: 70%;
  left: 15%;
  background-color: "none";
}
.card3 {
  top: 120%;
  left: 5%;
  background-color: "none";
}

.typography-animation {
  background: linear-gradient(270deg, #a7ffff 42.86%, #89fcff 50%);
  -webkit-background-clip: text; /* Aplicar el gradiente de fondo al texto */
  background-clip: text;
  color: transparent; /* Hacer el color del texto transparente */
  text-decoration: none;
}
