.footer-container {
  background-color: transparent;
  color: #ffffff;
  height: 16vh;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: "Dosis", sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  backdrop-filter: blur(0px); /* Inicialmente sin blur */
  transition: backdrop-filter 0.3s ease; /* Transición suave */
}

.footer-container.scroll-blur {
  backdrop-filter: blur(10px); /* Ajusta el nivel de blur según prefieras */
}

.logo {
  height: 90%;
}

.copyright {
  margin-left: 10px;
}
