.contact-form-container {
  background: transparent;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.div50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datosEmpresa {
  margin-top: 7rem;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  padding: 20px;
  flex-direction: column;
}

.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 20px;
}

.contact-form h2 {
  font-size: 1.5rem; /* Ajusta según tu diseño */
}

.contact-form h3 {
  font-size: 1rem; /* Ajusta según tu diseño */
  margin-bottom: 5px;
}

.contact-form input {
  padding: 0.5rem;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #007bff; /* Ajusta según tu diseño */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3; /* Ajusta según tu diseño */
}

.home-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 70% 30%; /* 70% para la izquierda, 30% para la derecha */
  height: 200vh;
  width: "100vw";
}


.left-component {
  background-color: #f0f0f0; /* Color de fondo para la sección izquierda */
  padding: 20px;
}

.right-component {
  background-color: #e0e0e0; /* Color de fondo para la sección derecha */
  padding: 20px;
}


.section-animation {
  width: "90vw";
  display: "flex";
  justify-content: "flex-end";
  margin-top: "50vh";
}


@keyframes slideInAndGrow {
  from {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.section-animation {
  animation: slideInAndGrow 1s ease-out forwards;
  margin-right: "5rem";
}

/* src/App.css */
@keyframes slideInFromRightAndGrow {
  from {
    transform: translateX(100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.typography-animation {
  animation: slideInFromRightAndGrow 1s ease-out forwards;
}

@keyframes slideInFromRightAndGrowWithFade {
  from {
    transform: translateX(100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.h2-animation {
  max-width: 45vw;
  animation: slideInFromRightAndGrowWithFade 2s ease-out forwards; /* 2s delay */
}

@media only screen and (max-width: 768px) {
  .contact-form-container {
    flex-direction: column;
  }
  .div50 {
    width: 100vw;
  }
  .div50 img {
    display: none;
  }
}
