/* Definir variables para luego crear los mixin */

$font-1: 'Chakra Petch', sans-serif;
$font-2: 'Montserrat', sans-serif;
$font-3: 'Poppins', sans-serif;
$font-4: 'Quicksand', sans-serif;
$font-5: 'Chakra Petch', sans-serif;


