

/* Titulo y subtitlo */
.title-cardservice {
  font-family: "Nunito", sans-serif !important;
  font-weight: 600 !important;
  font-size: 2rem !important;
  color: #212325;
  padding: 2rem;
}

.subtitle-cardservice{
  font-family: "Nunito", sans-serif !important;
  font-weight: 500 !important;
  font-style: normal !important;
  color: #212325 !important;
  font-size: 1.1rem !important;
  margin: 0.5rem !important;
}

/* Propiedades Imagen general */
.img-cardservice3 {
  object-fit: cover;
}

.img-cardservice1 {
  height: 450px;
}


/* Estilos comunes para el componente Card */
.card-services-style {
  border-radius: 40px;
  box-shadow: none;
}


/*  -----------MEDIA QUERIES------------*/
/* Estilos específicos para teléfonos móviles */
@media (max-width: 600px) {
  .card-services-style {
    width: 95%;
    height: 60vh;
  }
  .img-cardservice2, .img-cardservice3, .img-cardservice1{
    height: 150px;
  }
}

/* Estilos específicos para tabletas pequeñas */
@media (min-width: 601px) and (max-width: 768px) {
  .card-services-style {
    width: 95%;
    height: 60vh;
  }
}

/* Estilos específicos para pantallas más grandes (por defecto) */
@media (min-width: 769px) {
  .card-services-style {
    width: auto;
    height: auto;
  }
  .img-cardservice2, .img-cardservice3 {
    height: 250px;
  }
}