/* Costos.css */
/* Estilos para el main */
.container-principal {
  display: flex;
  background: rgb(1, 208, 255);
  background: linear-gradient(
    200deg,
    rgba(1, 208, 255, 1) 0%,
    rgba(38, 155, 182, 1) 29%,
    rgba(46, 46, 46, 1) 50%
  );
  width: 100vw;
  justify-content: center;
}

/* Estilos para titulo costos y servicios */
.cost-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: "10rem";
}

.cost-container {
  text-align: center;
  margin-top: 7.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Estilos para la imagen */

.image-container img {
  width: 100%;
  height: 100%;
}

/* Título principal - Fuente Montserrat */
.cost-title {
  font-size: 3.2em;
  margin-bottom: 5rem;
  font-family: "Montserrat", sans-serif;
  margin-top: 5rem;
}

/* Subtítulos - Fuente Roboto */
.cost-heading {
  margin-top: 40px;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}

/* Ítems del listado - Fuente Raleway */
.cost-list {
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  justify-content: space-between;
  margin: 1rem;
}

/* Cuerpo del texto general - Fuente Open Sans */
.cost-paragraph {
  font-size: 1.2em;
  width: 100%;
  max-width: 800px;

  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}

/* Citas o citas textuales - Fuente Open Sans SemiCondensed */
/* DISPONIBLE PARA USO */
.cost-quote {
  font-size: 1.2em;
  font-style: italic;
  max-width: 800px;

  line-height: 1.6;
  font-family: "Open Sans Condensed", sans-serif;
}

/* Botón de contacto */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.contact-button {
  /* Para hacer que el botón flote en la pantalla */
  bottom: 20px; /* Ajusta según donde quieras que se coloque verticalmente */
  right: 20px; /* Ajusta según donde quieras que se coloque horizontalmente */
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #008fb3;
  color: black;
  border: none;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer; /* Añadir el cursor de clic */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease,
    box-shadow 0.3s ease;
  animation: float 3s ease-in-out infinite; /* Animación de flotación constante */
}

.contact-button:hover {
  background-color: #006f8b; /* Azul más oscuro */
  color: #d4dcdc; /* Color del texto */
  transform: scale(1.1); /* Aumento de escala */
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5); /* Sombra blanca brillosa */
}
