/* Costos.css */
/* Estilos para el main */
.container-principal{
    display: flex;
    background: rgb(1,208,255);
    background: linear-gradient(200deg, rgba(1,208,255,1) 0%, rgba(38,155,182,1) 29%, rgba(46,46,46,1) 50%);
    width: 100vw;
    justify-content: center;
}


/* Estilos para titulo costos y servicios */
.cost-main {
    display: flex;
    flex-direction: column;
}


.cost-container {
    padding: 50px 20px;
    text-align: center;
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilos para la imagen */

.image-container img{
    width: 40vw;
    height: 100%;
    
}


/* Título principal - Fuente Montserrat */
.cost-title {
font-size: 3.2em;
margin-bottom: 20px;
font-family: 'Montserrat', sans-serif;
margin-left: 15rem;
}

/* Subtítulos - Fuente Roboto */
.cost-heading {
margin-top: 40px;
font-size: 2em;
font-family: 'Roboto', sans-serif;
}

/* Ítems del listado - Fuente Raleway */
.cost-list {
text-align: left;
max-width: 800px;
margin: 0 auto;
line-height: 1.6;
font-size: 1.2em;
font-family: 'Raleway', sans-serif;
justify-content: space-between;
margin: 1rem;
}

/* Cuerpo del texto general - Fuente Open Sans */
.cost-paragraph {
font-size: 1.2em;
max-width: 60vw;
margin-right: 5rem;
line-height: 1.6;
font-family: 'Open Sans', sans-serif;
text-align: justify;
}

/* Citas o citas textuales - Fuente Open Sans SemiCondensed */
.cost-quote {
font-size: 1.2em;
font-style: italic;
max-width: 800px;
margin: 20px auto;
line-height: 1.6;
font-family: 'Open Sans Condensed', sans-serif;
}

/* Botón de contacto */
.contact-button {
margin-top: 40px;
padding: 10px 20px;
font-size: 1.2em;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
}
