.home-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 70% 30%; /* 70% para la izquierda, 30% para la derecha */
  height: 200vh;
  width: "100vw";
}

.left-component {
  background-color: #f0f0f0; /* Color de fondo para la sección izquierda */
  padding: 20px;
}

.right-component {
  background-color: #e0e0e0; /* Color de fondo para la sección derecha */
  padding: 20px;
}

h1 {
  color:white;
  font-family: "Montserrat", sans-serif;
}

.section-animation {
  width: "90vw";
  display: "flex";
  justify-content: "flex-end";
  margin-top: "50vh";
}

@media only screen and (max-width: 768px) {
  .fontRubikMonoOne {
    font-size: 70%;
  }
}


@keyframes slideInAndGrow {
  from {
    transform: translateX(-100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.section-animation {
  animation: slideInAndGrow 1s ease-out forwards;
  margin-right: "5rem";
}

/* src/App.css */
@keyframes slideInFromRightAndGrow {
  from {
    transform: translateX(100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.typography-animation {
  animation: slideInFromRightAndGrow 1s ease-out forwards;
}

@keyframes slideInFromRightAndGrowWithFade {
  from {
    transform: translateX(100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.h2-animation {
  animation: slideInFromRightAndGrowWithFade 2s ease-out forwards; /* 2s delay */
  width: 500px;
}

.equipo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10rem;
}


.integrante {
  background-color: #269bb6; /* Fondo individual de cada integrante */
  margin: 2rem;
  padding: 5rem;
  border-radius: 1.5%;
  line-height: 1.5;
  width: 70%; /* Máximo ancho para cada card */
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fotoTeam {
  width: 20vw;
  height: 20vw;
  margin: 1rem;
  border-radius: 1.5%;
  background-color: white; /* Fondo blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra blanca/gris */
  padding: 0.5rem; /* Margen adicional para mostrar la sombra */
  justify-content: center;
}

h2 strong {
  font-family: "Montserrat", sans-serif;
  color:white;
}
