@import '../animations/animations';

.left-component {
    background-color: #f0f0f0; /* Color de fondo para la sección izquierda */
    padding: 20px;
}

.right-component {
background-color: #e0e0e0; /* Color de fondo para la sección derecha */
padding: 20px;
}

/* Clase duplicada */
.section-animation {
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    margin-top: 50vh;
    font-weight: 600;

    animation: slideInAndGrow 1s ease-out forwards;
    margin-right: 5rem;
}


.section-animation {
width: "90vw";
display: "flex";
justify-content: "flex-end";
margin-top: "50vh";
font-weight: 600;
}
