@import '_variables.scss';

  /* Ejemplo atributos centrados */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

  /* Ejemplo para utilizar con fuentes y tamaños */
@mixin font-1 {
font-family: $font-1;
}

@mixin font2 {
font-family: $font-2;
}

@mixin font3 {
  font-family: $font-3;
}

@mixin font4 {
  font-family: $font-4;
}

@mixin font5 {
  font-family: $font-5;
}

// Mixins nuevos
@mixin typography-animation {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}