h2,
h3,
h4,
h5,
h6,
p,
li,
ul {
  font-family: $font-family;
  font-weight: 100;
  font-style: normal;
  color: $color-text;
}

h1,
h2 {
  background: linear-gradient(270deg, $color-gradient-start 0, $color-gradient-end 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/* NUEVO */

h2, h3, h4, h5, h6, p, li, ul {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: gainsboro;
}

h1 {
  background: linear-gradient(135deg, #ffffff 0, #ffffff 7.14%, #fdffff 14.29%, #ebffff 21.43%, #d7ffff 28.57%, #c1ffff 35.71%, #a7ffff 42.86%, #89fcff 50%, #66f1fe 57.14%, #3be7fe 64.29%, #00deff 71.43%, #00d5ff 78.57%, #00ccff 85.71%, #00c4ff 92.86%, #00bcff 100%);
  -webkit-background-clip: text; /* Aplicar el gradiente de fondo al texto */
  background-clip: text;
  color: transparent; /* Hacer el color del texto transparente */
  font-family: 'Poppins', sans-serif;
}

h2 {
  color: #a7ffff;
}

.fontRubikMonoOne {
  font-family: "Rubik Mono One", monospace;
  background: linear-gradient(135deg, #ffffff 0, #ffffff 7.14%, #fdffff 14.29%, #ebffff 21.43%, #d7ffff 28.57%, #c1ffff 35.71%, #a7ffff 42.86%, #89fcff 50%, #66f1fe 57.14%, #3be7fe 64.29%, #00deff 71.43%, #00d5ff 78.57%, #00ccff 85.71%, #00c4ff 92.86%, #00bcff 100%);
  -webkit-background-clip: text; /* Aplicar el gradiente de fondo al texto */
  background-clip: text;
  color: transparent;
  margin-top: 10rem;
  margin-left: 0rem;
}

.typography-animation {
  -webkit-background-clip: text; /* Aplicar el gradiente de fondo al texto */
  background-clip: text;
  color: transparent; /* Hacer el color del texto transparente */
  text-decoration: none;
  font-weight: 600;
  color: #a7ffff;
}