* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  zoom: 1; /* Reduce la escala del contenido al 90% */
}
html {
  width: 100vw;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}
