* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  zoom: 1;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Reduce la escala del contenido al 90% */
}
html {
  background-color: #2d5676;
  background-image: linear-gradient(315deg, #212020 32%, #30638a 1500%);
  background-size: cover; /* Ajusta la propiedad background-size */

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Asegúrate de que el contenedor html ocupe toda la altura de la ventana */
}
